<div class="container">
  <h1 class="titlulo">Carrito de Compras</h1>
  <button mat-mini-fab color="primary" class="icon-button" (click)="generarMensaje()">
    <mat-icon>question_mark</mat-icon>
  </button>
  <div *ngIf="cartProducts.length > 0; else emptyCart">
    <!-- Tabla de productos en el carrito -->
    <table class="table">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of cartProducts">
          <td><img class="product-image" [src]="product.image" alt="{{ product.name }}" /></td>
          <td>{{ product.name }}</td>
          <td>
            <!-- Contador de cantidad -->
            <div class="quantity-controls">
              <button class="btn btn-secondary" (click)="decreaseQuantity(product)">-</button>
              <span>{{ product.quantity }}</span>
              <button class="btn btn-secondary" (click)="increaseQuantity(product)">+</button>
            </div>
          </td>
          <td>{{ cambiarMoneda(product.price) }}</td>
          <td>{{ cambiarMoneda(product.price * product.quantity) }}</td>
          <td>
            <button class="btn btn-danger" (click)="removeProductFromCart(product.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  
  </div>

  <!-- Mensaje cuando el carrito está vacío -->
  <ng-template #emptyCart>
    <mat-card class="empty-cart-card">
      <mat-card-content>
        <div class="empty-cart-message">
          <i class="material-icons">shopping_cart</i>
          <h3>Tu carrito está vacío</h3>
          <p>Explora nuestros productos y agrega tus favoritos al carrito.</p>
          <button mat-raised-button color="primary" [routerLink]="['/store-page']">Ir a Productos</button>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <div class="back-button">
    <button class="btn btn-primary" [routerLink]="['/carrito-compra']" [disabled]="!(cartProducts.length > 0)" >Pagar los productos Seleccionados</button>
  </div>

  <!-- Botón para regresar a la lista de productos -->
  <div class="back-button" *ngIf="cartProducts.length > 0">
    <button class="btn btn-primary" [routerLink]="['/store-page']">Regresar a Lista de Productos</button>
  </div>
</div>
