<div class="container">
    <div class="title-container">
        <h1>Lista de Productos</h1>
    </div>
    <div class="scroll-container">
        <button class="scroll-button left" (click)="scrollLeft()">&#10094;</button>
        <div class="card-container">
            <div class="card" *ngFor="let productstore of dataSource.data">
                <img class="product-image" [src]="productstore.product.image" alt="{{ productstore.product.name }}">
                <h2>{{ productstore.product.name }}</h2>
                <p>RUC STORE: {{ productstore.store.ruc }}</p>
                <p>QUANTITY: {{ productstore.quantity }}</p>
                <p>PRICE: {{ productstore.price }}</p>
                <p>{{ productstore.product.category.name }}</p>
                <button class="btn btn-primary" [routerLink]="['/product-detail', productstore.id]">Ver Detalles</button>
            </div>
        </div>
        <button class="scroll-button right" (click)="scrollRight()">&#10095;</button>
    </div>
</div>
