<div class="container">
    <div class="title-container">
      <h1>Lista de Productos</h1>
    </div>
    <!--<div class="totals">
      <p>Cantidad total de productos: {{ totalQuantity }}</p>
      <p>Total: S/. {{ totalPrice }}</p>
    </div>-->
    <div class="scroll-container">
      <button class="scroll-button left" (click)="scrollLeft()">&#10094;</button>
      <div class="card-container">
        <div class="card" *ngFor="let product of dataSourcePr.data">
          <img class="product-image" [src]="product.image" alt="{{ product.name }}">
          <h2>{{ product.name }}</h2>
          <p>RUC STORE: {{ product.storeName }}</p>
          <p>PRICE: {{ product.price }}</p>
          <p>CATEGORY: {{ product.categoryName }}</p>
          <button class="btn btn-primary" [routerLink]="['/product-detail', product.id]">Ver Detalle</button>
          <button class="btn btn-primary" (click)="addProductShoppingCart(product)">Añadir Carrito</button>
        </div>
      </div>
      <button class="scroll-button right" (click)="scrollRight()">&#10095;</button>
    </div>
    <div class="cart-button-container">
      <button class="btn btn-secondary" [routerLink]="['/carrito']">Ir al Carrito de Compras</button>
    </div>
  </div>
  