<div class="home-container">
  <header>
    <h1>Nova Gadgets</h1>
    <img src="https://www.upc.edu.pe/static/img/logo_upc_red.png" alt="upc logo">
  </header>

    <!-- Curso Card -->
    <section id="curso" class="card">
      <h2>Curso</h2>
      <p><strong>FINANZAS E INGENIERÍA ECONÓMICA (SI642)</strong></p>
    </section>
  
    <!-- Integrantes Card -->
    <section id="integrantes" class="card">
      <h2>Integrantes</h2>
      <ul>
        <li><strong>Sección:</strong> SI84</li>
        <li><strong>Docente:</strong> José Manuel Martín Senmache Sarmiento</li>
        <li><strong>Team Members:</strong></li>
        <li>Aguilar Lindo, Agustin Alejandro - U202124058</li>
        <li>Del Carmen Zorrilla, Ray Alessandro - U202124061</li>
        <li>Rivera Ramos, Joaquin Rodrigo - U202110072</li>
        <li>Nuñez Castillo, Erick Eduardo - U20211g019</li>
        <li>Ochoa Colonio, Carlos Alberto - U202315945</li>
        <li>Torres Saldaña, Gabriel Alonso - U202022303</li>
        <li><strong>Ciclo:</strong> 2024-02</li>
        
      </ul>
    </section>

  <!-- Introducción Card -->
  <section id="introduccion" class="card">
    <h2>Introducción</h2>
    <p>El presente trabajo tiene como objetivo el diseño y desarrollo de <strong>Nova Gadgets</strong>, una plataforma web dedicada a la venta de componentes de computadora. La aplicación gestionará el proceso de facturación y descuento de facturas generado por las ventas, facilitando la simulación de la <strong>Tasa de Coste Efectivo Anual (TCEA)</strong> para tomar decisiones estratégicas sobre la liquidez y las cuentas por cobrar.</p>
    <p>Nova Gadgets incluirá herramientas para administrar el descuento de facturas, simular escenarios financieros y generar reportes detallados, proporcionando a los administradores control sobre el financiamiento y la optimización de la liquidez.</p>
    <p>En esta fase inicial, se ha trabajado en el análisis y diseño de la arquitectura de la aplicación, con el objetivo de continuar con el desarrollo de su frontend y backend, garantizando un acceso seguro para los usuarios autenticados.</p>
    <p><strong>Nova Gadgets</strong> busca mejorar la gestión de facturas descontadas en el comercio de componentes de computadora, ofreciendo una solución eficiente y moderna para los procesos operativos y la toma de decisiones financieras.</p>
  </section>
</div>