
<div class="container" style="margin-top: 45px;">

  
  <!-- Detalles de Facturación -->
  <div class="billing-details">
    <button mat-mini-fab color="primary" class="icon-button" (click)="generarMensaje()">
      <mat-icon>question_mark</mat-icon>
    </button>

    <h2>Billing Details</h2>
    <label for="address">Dirección*</label>
    <input type="text" id="address" placeholder="Dirección">

    <label for="district">Distrito*</label>
    <select id="district">
      <option value="San Isidro">San Isidro</option>
      <option value="Miraflores">Miraflores</option>
      <option value="Barranco">Barranco</option>
      <option value="Surco">Surco</option>
      <option value="San Borja">San Borja</option>
      <option value="Pueblo Libre">Pueblo Libre</option>
      <option value="La Molina">La Molina</option>
      <option value="Magdalena">Magdalena</option>
      <option value="Lince">Lince</option>
      <option value="Jesús María">Jesús María</option>
    </select>

    <label for="reference">Referencias*</label>
    <input type="text" id="reference" placeholder="Referencias">
  </div>

  <!-- Resumen de Compra -->
  <div class="main-section">
    <!-- Tabla de Productos -->
    <div class="left-section">
      <h2>Resumen de Compra</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img class="product-image" [src]="selectedProduct.image" alt="{{ selectedProduct.name }}" /></td>
            <td>{{ selectedProduct.name }}</td>
            <td>
              <!-- Controles de cantidad -->
              <div class="quantity-controls">
                <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
                <input
                  type="number"
                  class="quantity-input"
                  [value]="selectedProduct.quantity || 1"
                  readonly
                />
                <button class="quantity-btn" (click)="increaseQuantity()">+</button>
              </div>
            </td>
            <td>{{ cambiarMoneda(selectedProduct!.price) }}</td>
            <td>{{ cambiarMoneda(selectedProduct!.price * selectedProduct!.quantity) }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Resumen del Pedido -->
    <div class="right-section">
      <h2>Your Order</h2>
      <ul>
        <li><span>Subtotal               </span><span>{{ cambiarMoneda(totalPrice) }}</span></li>
        <li><span>Envío                  </span><span>Currier: {{ cambiarMoneda(curriermoney) }}</span></li>
        <li class="total"><span>Total</span><span>{{ cambiarMoneda(totalPrice + curriermoney) }}</span></li>
      </ul>

      <div class="policy">
        <input type="checkbox" id="policy" [(ngModel)]="policyAccepted">
        <label for="policy">Acepto las políticas de privacidad, términos y condiciones, y política de devoluciones*</label>
      </div>

      <button class="submit-btn" (click)="createOrder()">GENERAR FACTURA DE COMPRA</button>
    </div>
  </div>
</div>
