.container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0 auto;
    gap: 10px;
}

.title {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 3rem;
}

.factura-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: yellow;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.estado-aceptado {
    background-color: green;
}

.estado-pendiente {
    background-color: yellow;
}

.estado-rechazado {
    background-color: red;
}

.factura-details {
    flex: 1;
}

mat-card {
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 16px;
    margin: 8px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.selected{
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 16px;
    margin: 8px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options:hover {
    background-color: skyblue;
    transform: scale(1.05);
}

.factura-panel {
    display: flex;
    align-items: center;
    width: 100%;
}

.selected {
    background-color: skyblue;
}


@media (min-width: 800px) {
    mat-card {
        max-width: 700px;
    }
}

@media (min-width: 900px) {
    mat-card {
        max-width: 800px;
    }
}