<div class="container" style="margin-top: 40px;">
    <h4 class="title">Lista de Facturas</h4>
  
    <!-- Botón Generar TCEA -->
    <div class="button-container">
      <button mat-button class="primary-button" routerLink="/factura-tcea">Generar TCEA</button>
    </div>
  
    <!-- Contenedor de las Facturas -->
    <div class="facturas-container">
      <mat-card appearance="outlined" *ngFor="let factura of dsFacturas" class="factura-card">
        <mat-card-content class="factura-panel">
          <div class="factura-container">
            <!-- Icono del estado -->
            <div class="icon" [ngClass]="getStateClass(factura.state)"></div>
  
            <!-- Detalles generales -->
            <div class="factura-details">
              <p><strong>Número de factura:</strong> N°{{ factura.id }}</p>
              <p><strong>Username:</strong> {{ factura.username }}</p>
              <p><strong>Total Facturado:</strong> {{ cambiarDivisaPrecio(factura.totalInvoiced) }}</p>
              <p><strong>Fecha de Creación:</strong> {{ factura.orderDate }}</p>
            </div>
  
            <!-- Botón Inspeccionar -->
            <div class="action-buttons" *ngIf="factura.state === 'PENDIENTE'">
              <button class="btn btn-inspect" routerLink="/factura-admin-inspection/{{ factura.id }}">
                <mat-icon>search</mat-icon> Inspeccionar
              </button>
            </div>
          </div>
  
            <!-- Información adicional si está aceptada -->
            <div *ngIf="factura.state === 'ACEPTADO'" class="accepted-info">
                <div class="information-columns">
                <div class="information-column">
                    <p><strong>Fecha de Giro:</strong> {{ factura.orderDate }}</p>
                    <p><strong>Fecha de Descuento:</strong> {{ factura.discountDate }}</p>
                    <p><strong>Valor Nominal:</strong> {{ factura.nominalValue }}</p>
                    <p><strong>Fecha de Vencimiento:</strong> {{ factura.paymentDate }}</p>
                    <p><strong>Días:</strong> {{ factura.days }}</p>
                    <p><strong>Retención:</strong> {{ factura.retention }}</p>
                    <p><strong>TE%:</strong> {{ factura.newEffectiveRate }}%</p>
                </div>
                <div class="information-column">
                    <p><strong>d%:</strong> {{ factura.discountedRate }}</p>
                    <p><strong>Descuento:</strong> {{ factura.discount }}</p>
                    <p><strong>Costes Iniciales:</strong> {{ factura.initialCosts }}</p>
                    <p><strong>Costes Finales:</strong> {{ factura.finalCosts }}</p>
                    <p><strong>Valor Neto:</strong> {{ factura.netWorth }}</p>
                    <p><strong>Valor Recibido:</strong> {{ factura.valueReceived }}</p>
                    <p><strong>Valor Entregado:</strong> {{ factura.valueDelivered }}</p>
                    <p><strong>TCEA:</strong> {{ factura.tcea }}%</p>
                </div>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  