<div class="container">
  <div>
    <h4 class="title">Mis Facturas</h4>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Filtrar por Estado</mat-label>
    <mat-select [(value)]="selectedState" (selectionChange)="filtrarFacturas()">
      <mat-option *ngFor="let estado of estados" [value]="estado">{{ estado }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card appearance="outlined" *ngFor="let factura of facturasFiltradas">
    <mat-card-content class="factura-panel">
      <div class="factura-container">
        <div class="icon estado-pendiente"></div>

        <div class="factura-details">
          <p>Bill: {{ factura.id }}</p>
          <p>User: {{ factura.username }}</p>
          <p>Order Date: {{ factura.orderDate }}</p>
          <p>State: {{ factura.state }}</p>
          <p></p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
