<div class="product-detail-container">
    <div class="product-info">
        <h1>{{ productstore.product.name }}</h1>
        <p><strong>QUANTITY:</strong> {{ productstore.quantity }}</p>
        <p><strong>PRICE:</strong> {{ productstore.price }}</p>
        <p><strong>DETAIL:</strong> {{ productstore.product.details }}</p>
        <p><strong>RUC STORE:</strong> {{ productstore.store.ruc }}</p>
    </div>
    <div class="product-image-container">
        <img class="product-image" [src]="productstore.product.image" alt="{{ productstore.product.name }}">
    </div>
    <button class="btn btn-secondary" [routerLink]="['/product-order', productstore.id]">Realizar Pedido</button> <!-- Nuevo botón con ID -->
</div>
